@import url("https://fonts.googleapis.com/css?family=Bellota|Ubuntu+Mono|Open+Sans|Ubuntu&display=swap");

.nav-cabinet-menu {
  display: none;
}

.contain {
  max-width: 100%;
}

.markdown-body table {
  width: 405px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 650px) {
  .nav-cabinet-menu {
    display: block;
  }

  .nav-link-list {
    display: none;
  }

  .markdown-body table {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 350px) {
  .my-name {
    display: none;
  }
}
