.app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
}

.nav-cabinet-menu {
  display: none;
}

@media only screen and (max-width: 650px) {
  .nav-cabinet-menu {
    display: block;
  }

  .nav-link-list {
    display: none;
  }
}

@media only screen and (max-width: 350px) {
  .my-name {
    display: none;
  }
}
